
  .d-block, h2{
    color: #33475c;
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
  
  #ban{
    width: 60%;
    height: 600px;
    justify-content: center;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  
#img-apropos{
  float: left;
  width:65%;
  height:auto;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  vertical-align: middle;
  

}

#text-apropos p{
  margin-left: 5%;
  margin-right:5% ;
  text-align: left;
  font-size: 25px;
  margin-top:10%;
  color: black;
  
}
#text-apropos{
  display: block;
  float: right;
  position: relative;
}

#text-objectif p{
margin-left: 5%;
text-align: left;
font-size: 25px;
margin-top:10%;
color: black;
}

#text-objectif{
  display: block;
  float: right;
  position: relative;
  margin-top: -3%;
}

#img-objectif{
  width: 35%;
  height: auto;
  float: right;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  vertical-align: middle;
}

.container {
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
  font-style: black;
  width: 80%;
}

#text-nutritionniste p{
  margin-left: -30%;
  margin-right:5% ;
  text-align: left;
  font-size: 25px;
  margin-top:13%;
  color: black;
  }
  
  #text-nutritionniste{
    display: block;
  float: right;
  position: relative;
  }

  #img-nutritionniste{
    float: left;
    width:40%;
    height:auto;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    vertical-align: middle;
  }

  #text-entreprises p{
    margin-left: 15%;
    margin-right:5% ;
    text-align: center;
    font-size: 25px;
    margin-top:25%;
    color: black;
    }
    
    #text-entreprises{
    display: block;
    float: left;
    position: relative;
    text-align: center;
    }
  
    #img-entreprises{
      float: left;
      width:70%;
      height:auto;
      margin-left: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
      vertical-align: middle;
    }

    .reveal{
      opacity: 0;
      transform: translateY(-30px);
    }

    .reveal-visible{
      opacity:1;
      transform: translateY(0);
      transition: 1.75s  cubic-bezier(.5, 0, 0, 1);
    }

    /*******************************************Style slider Marques**********************************************/
    #text-marques{
      display:block;
      font-size: 25px;
      color: black;
      position: relative;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 5%;
      
    }
    .container-marques{
      border-radius: 20px;
      margin-top: 5%;
      margin-bottom: 5%;
      box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
      font-style: black;
      align-items: center;
      background: #E3E3E3;
      display: flex;
      justify-content: center;
      width: 70%;
      margin-left: 15%;
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(500px);
     }
      100% {
        transform: translateX(calc(-250px * 20));
     }
   }
    .slider {
      background: white;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
      height: 300px;
      margin: auto;
      overflow: hidden;
      position: relative;
      
      
      
   }
    .slider::before, .slider::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
      margin-right: 50px;
      margin-left: 50px;
   }
    .slider::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
     
   }
    .slider::before {
      left: 0;
      top: 0;
      
   }
    .slider .slide-track {
      animation: scroll 30s linear infinite;
      display: flex;
      width: calc(250px * 100);
   }
    .slider .slide {
      height: 100px;
      width: 250px;
      margin-right: 50px;
      margin-left: 50px;
   }

   .img-marques{
    height:100px;
    width:250px;
   }

    /******************************** MEDIA QUERIES ************************************/
    @media screen and (max-width: 720px){

      #img-apropos{
        width:200px;
        height:auto;
        margin-left: 15%;      
        vertical-align: middle;
      }
      #text-apropos p {
       text-align: center;
       padding-top: 0;
      }
  
      #img-objectif{
        width:200px;
        height:auto;
        padding-left: 20%;     
        vertical-align: middle;
      }
      #text-objectif{
        text-align: center;
        padding-top: 0;
      }
  
      #img-nutritionniste{
        width:200px;
        height:auto;    
        vertical-align: middle;
      }
  
      #text-nutritionniste p {
        text-align: center;
        padding-top: 0;
        padding-left: 35%;
      }

      .slider::before, .slider::after {
       background: none;
     }
    }