{% extends 'base.html.twig' %}

{% block title %}Admin Recettes{% endblock %}

 {% block body %}
 
    <div class="container mt-4">

        <h1>Gérer les recettes</h1>

        <table class="table table-striped"
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
             {% for r in recettes %}
                           
                <tr>
                    <td>{{ r.titreRecette }}</td>
                    <td>
                        <a href="{{ path('edit', {id: r.id}) }}" class="btn btn-secondary">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


     
               
      
{% endblock %}

