{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

 {% block body %}

     <h3>Contactez nous via nos différents réseaux !</h3></br>
            
            <span class="social-icons"> 
     
                <a class="social-logo" href="https://www.instagram.com/studcooksn/" ><i class="fab fa-instagram fa-4x"></i></a>
                <a class="social-logo" href= "https://www.tiktok.com/@studcooksn?"><i class="fab fa-tiktok fa-4x"></i></a>
                <a class="social-logo" href= "mailto:studcook.tc@gmail.com"><i class="far fa-envelope fa-4x"></i></a>
                <a class="social-logo" href="tel:(+33)(780439002)"><i class="fas fa-phone-alt fa-4x"></i></a>

            </span>
        
         <h4 class="decorated" id="container_h4"><span> Ou directement via ce formulaire !</span></h4>                     
    
        <div class="form-container">
            <form id="reused_form">
              <div>
                <input id="name" type="text" name="name" placeholder="Nom" required class="validate">
              </div>
              <div>
                <input id="email" type="email" name="email" placeholder="E-mail" required class="validate">
              </div>
              <div>
                <textarea id="message" name="message" placeholder="Ici votre message..." class="validate" ></textarea>
              </div>
              <div>
                <button class="form-button" type="submit">Envoyer</button>
              </div>
            </form>
        
            <div id="error_message" style="width:100%; height:100%; display:none; ">
              <h4>Une erreur s'est produite, veuillez rééssayer</h4> 
            </div>
            <div id="success_message" style="width:100%; height:100%; display:none; ">
              <h4>Message envoyé !</h4>
            </div>
          </div>
{% endblock %}