{% extends 'base.html.twig' %}

{% block head %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="utf-8">
            <title>Flexbox Testimonials</title>
        {% block stylesheets %}

          <link rel="stylesheet" href="{{ asset('style/home_style.css') }}">

        {% endblock %}

         {% block javascripts %}

            
            <script src ="{{ asset('style/js/home-transition.js') }}" defer></script>

         {% endblock %}
        
    </head>

{% endblock %}


 {% block body %}

 
 
  <div class="container reveal">
    <div class="row">
      <div class="col">
        <img id="img-apropos" src="../assets/a-propos-croquis.png" alt="img-apropos">
      </div>
       <div id ="text-apropos" class="col">
        <p>Le 23 Mai 2021 StudCook naît de la volonté de 6 étudiants en Techniques de Commercialisation à l'IUT de St Nazaire :</br>
        -La présidente : Audrey</br>
        -La vice-présidente : Zoé</br>
        -La secrétaire : Lucie</br>
        -Le trésorier : Kylian</br>
        -La responsable communication : Julie</br>
        -Le responsable sponsor : Romain</br>
         </p>
      </div>
    </div>
  </div>

  <div class="container reveal">
    <div class="row">
        <div id="text-objectif" class="col">
          <p>– Partager des idées de recettes, facile à faire et à faible coût</br>
            – Être présent pour vous donner des bons plans pour pouvoir manger moins cher</br>
            – Vous organiser des événements</br>
          </p>
        </div>
         <div class="col">
          <img id="img-objectif" src="../assets/goals.png" alt="img-objectifs">
        </div>
      </div>
    </div>

     <div class="container reveal">
    <div class="row">
      <div class="col">
        <img id="img-nutritionniste" src="../assets/nutritionniste.png" alt="img-nutritionniste">
      </div>
       <div id ="text-nutritionniste" class="col">
        <p> Nous pouvons compter sur le soutien de Magalie Gaudichon, nutritionniste à Saint Nazaire depuis de nombreuses années, pour nous aider à élaborer toutes ces recettes 
         </p>
      </div>
    </div>
  </div>
  
  
  <div class="container-marques reveal">
  
 
  
    <div class="slider">
    <div id="text-marques">
    <p> Un grand merci à ces marques qui soutiennent le projet StudCook ! </p>
    </div>
	    <div class="slide-track">
        {% for m in marques %}
        
		      <div class="slide">
           
			      <img class="img-marques" src={{ m.getLienImageMarque() }}></img>
  	      </div>
        {% endfor %}
	    </div>
   </div>
  </div>



{% endblock %}
