{% extends 'base.html.twig' %}

{% block head %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="utf-8">
            <title>Flexbox Testimonials</title>
        {% block stylesheets %}

          <link rel="stylesheet" href="{{ asset('style/home_style.css') }}">

        {% endblock %}
        
    </head>

{% endblock %}


 {% block body %}
 

        {# Début Carousel #}

    <div class="col-sm-7 mx-auto">
    <header class="section-header text-center">
      <span class="h1 d-block">
      </span>
      
    </header>
  </div>
  
  <div id="flex-container" class="testimonials">
    <div id="left-zone">
      <ul class="list">
        <li class="item">
          <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
          <label class="label_testimonial-1" for="radio_testimonial-1">Notre Projet</label>
          <div class="content-test content_testimonial-1">
            {# <span class="picto"></span> #}
            <h1>Notre Projet</h1>
            <p>Notre projet a pour ambition de motiver les jeunes étudiants à mieux manger.Notre but est donc de délivrer aux étudiants des bons plans, des recettes rapides à cuisiner,
        à moindre coûts et des conseils pour mieux se nourrir sans perdre de temps. Ces recettes sont réalisées en partenariat avec une professionnelle de la santé.</p>
            
          </div>
        </li>
        <li class="item">
          <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
          <label class="label_testimonial-2" for="radio_testimonial-2">Nos Recettes</label>
          <div class="content-test content_testimonial-2">
           {# <span class="picto"></span> #}
            <h1>Nos Recettes</h1>
            <p>Nos Recettes sont réalisées sous l'accord et la tutelle de notre nutritionniste. Chaque membre du projet StudCook poste sa recette à tour de rôle</p>
            
            <br>
          </div>
        </li>
        <li class="item">
          <input type="radio" id="radio_testimonial-3" name="basic_carousel" />
          <label class="label_testimonial-3" for="radio_testimonial-3">Nos Bons Plans</label>
          <div class="content-test content_testimonial-3">
            <span class="picto"></span>
            <h1>Nos Bons Plans</h1>
            <p>Les bons plans sont trouvés par </p>
            
          </div>
        </li>
        <li class="item">
          <input type="radio" id="radio_testimonial-4" name="basic_carousel" />
          <label class="label_testimonial-4" for="radio_testimonial-4">Nous Contacter</label>
          <div class="content-test content_testimonial-4">
            <span class="picto"></span>
            <h1>Nous Contacter</h1>
            <p>Nous sommes présents sur différents réseaux sociaux: </p>
            <p class="lien_insta">lien insta</p>
            <p class="lien_tiktok">lien tiktok</p>
            <p class="lien_phone">lie téléphone</p>
            <p class="lien_mail">lien mail</p>

            <br>
          </div>
        </li>
      </ul>
    </div>
    <div id="right-zone"></div>
  </div>

    {# Fin Carousel #}

    <div class="jumbotron text-center">
        
          <video autoplay muted loop width="1250" height="560">
     <source src="../assets/video_presentation.mp4" type="video/mp4">
    </video>
        
    </div>


    <script src ="{{ asset('style/js/carousel.js') }}"></script>

{% endblock %}
