{% extends 'base.html.twig' %}



 {% block body %}

    <div class="jumbotron text-center">
        
          <video autoplay muted loop width="1250" height="560">
     <source src="../assets/video_presentation.mp4" type="video/mp4">
    </video>
        <p>Notre projet a pour ambition de motiver les jeunes étudiants à mieux manger.Notre but est donc de délivrer aux étudiants des bons plans, des recettes rapides à cuisiner,
        à moindre coûts et des conseils pour mieux se nourrir sans perdre de temps. Ces recettes sont réalisées en partenariat avec une professionnelle de la santé.</p>
    </div>

{% endblock %}
