{% extends 'base.html.twig' %}

{% block title %}Nos Recettes{% endblock %}

 {% block body %}

    
        <h1>Recettes</h1>

        {% for r in recette %}

            <h2> {{r.titre_recette}} </h2>
            <div> {{r.description_recette}} </div>

         {% endfor %}    
        

      
{% endblock %}

